@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: v.$text-color-light;
  background: v.$color-purple;
  background: linear-gradient(
    145deg,
    v.$color-purple 0%,
    v.$color-purple-3 50%
  );
  font-size: 1rem;
  font-family: v.$font-stack;
}
#root {
  display: flex;
}

a {
  text-decoration: none;
  color: v.$text-color-light;
}

//heading
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.35rem;
}
h3 {
  font-size: 1.2rem;
}

//inputs
form {
  .input-container {
    position: relative;

    &:last-child {
      input {
        margin-bottom: 10px;
      }
    }
    label {
      position: absolute;
      left: 0;
      color: v.$text-color-gray-2;
      transition: all 0.2s ease-out;
    }
    input {
      border: 0;
      border-bottom: 1px solid v.$bg-color-light;
      background-color: transparent;
      color: v.$text-color-light;
      font-size: 1rem;
      padding-bottom: 10px;
      margin-bottom: 30px;
      width: 100%;

      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        transform: translateY(-100%);
      }
    }
  }
}

//LOGIN & REGISTER
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  font-size: 1.2rem;

  form {
    width: 100%;
    border-radius: v.$border-radius;
    background-color: v.$bg-color-dark;
    padding: 30px;
    .title {
      padding-bottom: 30px;
    }
    .button-container button {
      font-size: 1rem;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: v.$border-radius;
      color: v.$text-color-light;
      background: v.$color-purple-3;
      margin-bottom: 20px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .link {
      padding-top: 20px;
      a {
        color: v.$color-purple-2;
      }
    }
  }
}

//DASHBOARD
//--- Nav ---
header {
  nav {
    // position: fixed;
    // width: max-content;
    // background-color: v.$bg-color-dark;
    // padding: 20px;
    // height: 100%;
    // width: 60%;
    // z-index: 10;
    // transform: translateX(-100%);

    // &.active {
    //   transform: translateX(100%);
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     z-index: -1;
    //   }
    // }
    height: 100vh;

    .menu-trigger {
      width: max-content;
      padding: 20px;
    }
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 60%;
      height: 100vh;
      background-color: v.$bg-color-dark;
      padding: 20px;
      transform: translateX(-100%);
      &.active {
        transform: translateX(0);
      }
      // z-index: 10;
      // transform: translateX(-100%);
      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 100%;
      //   width: 100%;
      //   background-color: rgba(0, 0, 0, 0.5);
      //   z-index: -1;
      // }
      .title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        .logout {
          cursor: pointer;
        }
      }
      .user-informations {
        text-align: center;
        padding-bottom: 20px;
        h3 {
          color: v.$color-purple-2;
        }
      }
      .bookmarks {
        .bookmark {
          &.active {
            transform: translateX(10px);
            a {
              color: v.$color-purple-2;
            }
          }
          a {
            display: inherit;
            padding: 10px 0;
            cursor: pointer;
            transition: color 0.2s ease-out;

            &:hover {
              color: v.$color-purple-2-light;
            }
          }
        }
      }
    }
  }
}

//--- Dashboard ---
main {
  width: 100%;
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    background-color: v.$bg-color-dark-2;
    padding: 20px;
    height: 100vh;
    width: 100%;

    .card-wrapper {
      background-color: v.$bg-color-dark;
      padding: 10px;
      border-radius: 10px;
      height: max-content;

      .card-title {
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$bg-color-light;
      }
      .card-info {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
      }
    }
  }
}
