//font color
$text-color-dark: hsl(285, 4%, 20%);
$text-color-gray: hsl(0, 0%, 45%);
$text-color-gray-2: hsl(300, 2%, 87%);
$text-color-light: hsl(0, 0%, 90%);

//bg color
$bg-color-dark: hsl(0, 0%, 12%);
$bg-color-dark-2: hsl(0, 0%, 8%);
$bg-color-light: hsl(0, 0%, 100%);

//additional color
$color-purple: hsl(290, 57, 34);
$color-purple-2: hsl(250, 97, 70);
$color-purple-2-light: hsl(250, 97, 80);
$color-purple-3: hsl(246, 100, 64);
// $color-blue: hsl(246, 100, 64);

//border
$border-radius: 10px;

//font style
$font-stack: sans-serif;
