//font color
$text-color-dark: hsl(285, 4%, 20%);
$text-color-gray: hsl(0, 0%, 45%);
$text-color-gray-2: hsl(300, 2%, 87%);
$text-color-light: hsl(0, 0%, 100%);

//bg color
$bg-color-dark: hsl(0, 0%, 12%);
$bg-color-light: hsl(0, 0%, 100%);

//border
$border-radius: 10px;

//font style
$font-stack: sans-serif;